langchain
langchain-community
langchain_chroma
langchain-cohere
langchain-openai
langchain-groq
langchain-text-splitters
langchainhub
langgraph
langsmith
chromadb
cohere
openai
groq
python-dotenv
pydantic
PyYAML
beautifulsoup4
tiktoken
fastapi
uvicorn
pytest
httpx

